.inputText {
  height: 52.80000305175781px;
  width: 100%;

  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  border: 1px solid var(--grey5);
  background-color: var(--grey3);
  color: var(--white);
}
.inputNumber {
  height: 48px;
  width: 94.5%;
  margin-top: 12px;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  border: 1px solid var(--grey5);
  background-color: var(--grey3);
  color: var(--white);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
}
