.formDiv {
  gap: 19px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90%;
}
form {
  outline: 1px solid var(--grey6);

  height: 351px;
  width: 363px;

  left: 258px;
  top: 127px;

  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.divInputText {
  width: 90%;

  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 12px;
}
.divInputText1 > input {
  height: 52.80000305175781px;
  width: 100%;

  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  border: 1px solid red;
  background-color: var(--grey2);
}
.divInput {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.1rem;
}
.divInput > div {
  width: 50%;
}
.divSelect {
  display: flex;
  flex-direction: column;
  margin-left: 1.7rem;
  gap: 12px;
}

.imfo {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.liRgistrado {
  border-left: 5px solid var(--green);
}
.imfo > h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}
.interface {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
