.divListFilter {
  width: 120%;
}
.divFiltro {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 40px;
  gap: 29px;
}
.subTitle-h3 {
  font-size: 19px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--grey4);
}
.divFiltro > div {
  gap: 14px;
  display: flex;
}
.liRgistrado {
  list-style: none;
  margin-bottom: 1rem;

  background-color: var(--grey3);

  border-radius: 8px;
  border-left: 5px solid var(--green);

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  width: 99%;
  min-height: 100px;
}
.liRgistrado:hover {
  background-color: var(--grey);
}
.liRgistrado1 {
  list-style: none;
  margin-bottom: 1rem;

  background-color: var(--grey5);

  border-radius: 8px;
  border-left: 5px solid var(--grey6);

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  width: 99%;
  min-height: 100px;
}
.liRgistrado1:hover {
  background-color: var(--white);
}
.imfo {
  height: 40px;
}
.ulRegistros {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0;
  overflow-x: auto;

  width: 100%;
  max-height: 420px;
}
.priceDelet {
  width: 120px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-right: 1rem;
}
li:hover {
  background-color: var(--white);
}
.delet {
  background-color: var(--grey);
}
.priceDelet > button {
  display: flex;
  align-items: center;

  width: 40px;
  height: 40px;

  background: none;
}
.svg {
  width: 20px;

  height: 20px;
}
.img_delet {
  background-color: var(--white);
}
