select {
  border: none;
  background-color: var(--grey2);
  height: 48px;
  width: 150px;
  left: 0px;
  top: 31px;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
  cursor: pointer;
}
