select {
  border: 1px solid var(--grey5);
  background-color: var(--grey3);
  color: var(--white);
  height: 48px;
  width: 150px;
  left: 0px;
  top: 31px;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
  cursor: pointer;
}
