.listLiVazio {
  list-style: none;
  margin-bottom: 1rem;

  background-color: var(--grey3);

  border-radius: 8px;
  border-left: 5px solid var(--green);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 99%;
  min-height: 100px;
}
.listLiVazio > div {
  width: 90%;
  margin-left: 2rem;
  background: none;
}
.listLiVazio:hover {
  box-shadow: 0px 4px 32px -12px #00000040;
  background-color: var(--grey4);
}

.div1 {
  height: 15px;
  width: 100%;
  background-color: var(--grey);
  margin-left: -30px;
}
.div2 {
  width: 60%;
  height: 15px;
  background-color: var(--grey);
  margin-left: -30px;
  margin-top: 10px;
}
div > h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -10px;
}
